@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.logo{
    max-width: 7vh;
}
.navbar{
    background-color: rgba(252, 172, 76, 0.8);
}
.parallax{
    background-image: url(../images/textura_parallax.jpg);
    height: 20vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}
.btn-search{
    color: white;
    background-color: rgb(252, 172, 76); ;
}
.btn:hover{
    background-color: grey;
    color: white;
}
.marg-t{
    padding-top: 80px;
}
.card-img-top{
    height: 40vh;
    object-fit: contain;
}
.card:hover{
    color: cadetblue;
    border-color: blue;
    border-width: 3px;
}
.footer{
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
}